# Package
datetime
pandas
requests
lxml
nltk
nltk.download('wordnet')
numpy

# API
fastapi
uvicorn

# .env
python-dotenv

# frontend
streamlit

unidecode

## ML
scikit-learn

# Figures
matplotlib
wordcloud
Pillow
